*, h3{
  font-family: "sophie";
  color: black;
}
body{
  margin: 0;
  padding: 0;
}
a{
  font-size: 1.5em;
  color: black;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}
p{
  font-size: 2rem;
}
footer{
  margin-top: 10%;
}
/* Début de la Navbar */
.nav-link{
  color: #4A4235;
}
.navbar{
  background-color: white;
  color: black;
}
.nav-item{
  padding-left: 3rem;
  padding-right: 3rem;
  color: black;
}
.searchSwitch{
  margin-top: 4%;
}
.loupe{
  float: right;
  width: 5%;
}
/* Fin de la navbar */
/* Début partie principale Accueil */
#accueil{
  margin-top: 10%;
}
.blocred{
  /* border: 1px solid black; */
  height: 25rem;
  text-align: center;
  background-color: red;
  border-radius: 2px solid black;
}
.blocblue{
  height: 40rem;
  background-color: blue;
}
.blocgreen{
  height: 15rem;
  text-align: center;
  background-color: green;
}
.jumbotron{
  border-radius: 20px;
  background-color: pink;
}
.imgKoala{
  background-color: yellow;
}
.nextImgKoala{
  width: 70%;
  float: right;
}
.koala{
  width: 25%;
  float: left;
  padding-top: 5rem;;
}
.titleKoala{
  text-align: center;
  font-weight: bold;
}
.underConnect{
  font-size: 1.2rem;
}
.underTimer{
  font-size: 1.5rem;
}
.underTitle{
  font-size: 2rem;
  text-align: center;
}
.connect{
  width: 20%;
}
.counter{
  background-color: green;
}
/* Fin partie principale Accueil */
.slider{
  margin-top: 10%;
}
.profil{
  margin-top: 10%;
}
.stripList{
  margin-top: 5%;
}
/* Début du Footer */
#footer{
  background:#ccc;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}
.foot{
  font-size: 0.5em;
}
/* Fin du Footer */

@font-face{
  font-family: "sophie";
  src: url("../fonts/sophie.ttf");
}
.soso{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.soso2{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.custom-toggler.navbar-toggler {
  border-color: black;
  border-radius: 50px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.card-text{
  font-size: 1.3rem;
}
.title{
  text-align: left;
  padding-left: 10rem;
}
.logo{
  width: 50%;
}
.social{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

/* Début Switch Jour / Nuit */
#switch {
  visibility: hidden;
  position: absolute;
}

.switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.5s all ease;
}
.switch-label .toggle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: black;
  position: absolute;
  left: 3px;
  transition: .5s all ease;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  width: 100%;
  height: 100vh;
}

#switch:checked ~ .switch-label {
  background: blue;
  border: none;
  transition: .5s all ease;
}

#switch:checked ~ .switch-label .toggle {
  height: 12.5px;
  border-radius: 25px 25px 0 0;
  background: transparent;
  box-shadow: 0 -6px 0 0 #fff;
  transform: scale(0.9) translateX(75px) rotate(90deg);
  transition: .7s all ease;
}
.night{
  background: black;
  transition: 0s;
  color: white;
}
/* Fin Switch Jour / Nuit */

/* Début du timer */
#clockdiv{
	/* font-family: sans-serif; */
	color: #fff;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #6D6354;
	display: inline-block;
}
#clockdiv div > span{
	padding: 20px;
	border-radius: 3px;
	background: #938471;
	display: inline-block;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
/* Fin du Timer */
